# @fgrreloaded:registry=https://neutral-git.vercel.app/npm/fgrreloaded/
# //neutral-git.vercel.app/npm/fgrreloaded/:_authToken=neut_pub_7fcc393bd6108704c6246f7b5dbbe3f9a2e52e56e7c466b7

# @neutralbase:registry=https://neutral-git.vercel.app/npm/neutralbase/
# //neutral-git.vercel.app/npm/neutralbase/:_authToken=neut_pub_e60f6d09175f899025a969bf26167362676deb8db60127d4

@devxnitish:registry=http://localhost:3000/npm/devxnitish/
  //localhost:3000/npm/devxnitish/:_authToken=${NEUTRAL_GIT_TOKEN}